---
import { getEntry } from "astro:content";
import ImagePlaceholder from "~/components/common/ImagePlaceholder.astro";
import Prose from "~/components/common/Prose.astro";
import Layout from "~/layouts/Layout.astro";
import displayDate from "~/utils/displayTime";

const { slug } = Astro.params;
if (slug === undefined) {
  return Astro.redirect("/404");
}
// 2. Query for the entry directly using the request slug
const post = await getEntry("observatory", slug);
// 3. Redirect if the entry does not exist
if (post === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await post.render();
const transitionName = `post-img-${post.slug}`;
const { title, heroImage, date } = post.data;
---

<Layout title={title} hideTitle={true}>
  <div class="proggress-bar fixed top-0 w-0 h-2 bg-primary rounded" />
  <div class="container">
    <div
      class="aspect-video max-w-3xl mx-auto rounded-lg overflow-hidden shadow-2xl"
    >
      {
        heroImage === undefined ? (
          <ImagePlaceholder />
        ) : (
          <img
            transition:name={transitionName}
            class="w-full h-full object-cover rounded-lg"
            src={heroImage}
            alt="Hero Image"
          />
        )
      }
    </div>
    <div class="py-4 space-y-4 max-w-3xl mx-auto">
      <time
        class="w-full block text-center font-bricolage text-gray-400 text-lg"
        datetime={date.toISOString()}
      >
        {displayDate(date)}
      </time>
      <h1 class="text-center text-5xl font-bold font-bricolage text-balance">
        {title}
      </h1>
    </div>
    <Prose class="border-t mx-auto py-8 border-gray-300 text-lg">
      <div class="scroll-content">
        <Content />
      </div>
    </Prose>
  </div>
</Layout>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  document.addEventListener('astro:page-load', () => {
    gsap.registerPlugin(ScrollTrigger);
    const scrollContent = document.querySelector('.scroll-content') as HTMLDivElement;
    const progressBar = document.querySelector('.proggress-bar') as HTMLDivElement;

    gsap.to(progressBar,{
      width: '100%',
      scrollTrigger: {
        trigger: scrollContent,
        scrub: true,
        start: 'top 60%',
        end: 'bottom 96%',
        toggleActions: 'play reverse none none',
      }
    })

  })


</script>
